body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  margin: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

.calcContainer {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  width: 305px;
  height: 380px;
  text-align: center;
  border-radius: 4px;
  margin-top: 70px;
}

.calcRes {
  background-color: lightgray;
  width: 100%;
  height: 80px;
  text-align: right;
}

.calcItem {
  outline: 0;
  position: relative;
  left: 13px;
  top: 5px;
  border: 0;
  color: #495069;
  background-color: lightsteelblue;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px  rgba(0, 0, 0, 0.2);
}

#result {
  height: 40px;
  width: 270px;
  margin-top: 15px;
  font-size: 22px;
  text-align: right;
  background-color: honeydew;
  border-radius: 5px;
}

.operators {
  background-color: palegreen;
}

.cero {
  width: 130px;
}

nav {
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #1a2a38;
  color: white;
}
